<head>

</head>
<body>
    <table>
        <tr>
            <td>Number of beds</td>
            <td><form method="POST" action="/bed-wheel-inc">
            <button type="submit"> Increase</button></form></td>
            <td>
                <form method="POST" action="/bed-wheel-dec">
                <button type="submit">Decrease 

                </button></form>
            </td>
        </tr>
        <td>NUmber of wheelchairs</td>
        <td>
            <form method="POST" action="/wheel-inc">
            <button type="submit">Increase</button>

            </form>
            <td>
                <form method="POST" action="/wheel-dec">
                <button type="submit">Decrease</button>
                </form>
            </td>
        </td>
    </table>
</body>
