<head>
    <title>Bed and wheel chair status</title>
    <script id="gs-sdk" src='//www.buildquickbots.com/botwidget/v3/demo/static/js/sdk.js?v=3' key="d0266271-9df0-4fb9-90e2-218e86846331" ></script>
</head>
<body>
    <div style="height: 200px;background-color:black;width:100%"></div>
    <script>
        


    </script>

</body>