<head>
    <title>Bed and Wheel chairs</title>
</head>
<table>
    <tr>
        <td>
            Number of beds
        </td>
        <td>
            {{beds}}
        </td>
        <tr>
            <td>Number of wheel chairs</td>
            <td>{{wheels}}</td>
        </tr>
    </tr>
</table>