<head>
    <title>Doctor Current Status</title>
</head>
<body>
    <table border="1">
        <td>
            <form method="POST" action="/doctors-change-no/5e3b2559eeed0c45ec674a2f">
            <button type="submit">no</button></form>
        </td>
         <td>
            <form method="POST" action="/doctors-change-yes/5e3b2559eeed0c45ec674a2f">
            <button type="submit">yes</button></form>
        </td>
        <td>
            {{status}}
        </td>
    </table>
   
</body>